@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import "globals.css";

html {
  font-family: 'Montserrat';
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-height: 450px) {
  .drawer {padding-top: 15px;}
  .drawer a {font-size: 18px;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*body{
    margin-left: 20%;
    margin-right: 20%;
    }*/
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body{
      margin-left: 30% !important;
      margin-right: 30% !important;
    }
  }

  /*----- APP BAR -----*/
  .appBar{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .backIconLink{
    color: var(--primaryBlue);
  }

  .pageTitle{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primaryBlue);
  }
  /*----- END APP BAR -----*/

  #avatar {
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
  }

  .cRow{
    display: flex;
    flex-direction: row;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .center{
    justify-content: center;
  }

  #header{
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
  }

  #list{
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
  }

  .card{
    box-shadow: 0 0 0 0 transparent !important;
    padding: 8px 8px;
  }

  .userInfo{
    display: flex;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .listItemAvatar {
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
  }

  .listUsername{
    font-size: 14px;
    font-weight: bold;
    color: var(--primaryBlue);
  }

  .enterpriseName{
    font-size: 12px;
    color: var(--lightGrey);
  }

  /*----- ITEM -----*/
  .cRow{
    display: flex;
    flex-direction: row;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .center{
    justify-content: center;
  }

  .commentItem{
    display: flex;
    padding: 16px 8px;
    align-items: center;
  }

  .listItemAvatar {
    background-image: url('https://picsum.photos/200');
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
  }

  .notificationText{
    font-size: 14px;
    color: var(--mediumGrey);
  }

  .spanStyle{
    color: var(--primaryBlue);
    font-weight: bold;
  }

  .btn-flat{
    font-weight: bold !important;
    color: var(--secondaryYellow) !important;
  }

  .timeAgo {
    font-weight: bold;
    color: var(--lightGrey);
    font-size: 12px;
  }

  .commentItemBottom{
    align-items: center;
    padding: 0 8px;
  }

  /*----- END ITEM -----*/