@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import "globals.css";

html {
  font-family: 'Montserrat';
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-height: 450px) {
  .drawer {padding-top: 15px;}
  .drawer a {font-size: 18px;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    margin-left: 20% !important;
    margin-right: 20% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*body{
    margin-left: 20%;
    margin-right: 20%;
    }*/
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body{
      margin-left: 30% !important;
      margin-right: 30% !important;
    }
  }

  /*----- APP BAR -----*/
  .appBar{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .backIconLink{
    color: var(--primaryBlue);
  }

  .pageTitle{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primaryBlue);
  }
  /*----- END APP BAR -----*/

  #avatar {
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
  }

  .row{
    display: flex;
    flex-direction: row;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .center{
    justify-content: center;
  }

  #list{
    position: relative;
    margin-top: 1rem;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .settingsItem{
    align-items: center;
    padding: 8px 16px;
    font-weight: bold;
  }

  .settingsIcon{
    color: var(--secondaryYellow);
  }

  .logoutIcon{
    color: var(--primaryBlue);
  }

  #logoutItem{
    font-weight: bold;
    color: var(--primaryBlue);
  }