@import "globals.css";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Use a media query to add a breakpoint at 800px: */
/*@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
  }*/
  html {
    font-family: 'Montserrat';
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }

  a{
    text-decoration: none;
  }

  h5{
    color: var(--lightBlue);
  }

  option{
    color: var(--lightBlue) !important;
  }

  .select-dropdown{
      color: var(--primaryBlue);
  }

ul.dropdown-content.select-dropdown li span {
    color: var(--mediumGrey);
}

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  /*body{
    margin-left: 20%;
    margin-right: 20%;
    }*/
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body{
      margin-left: 30%;
      margin-right: 30%;
    }
  }

  .appBar{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .backIconLink{
    color: var(--primaryBlue);
  }

  .pageTitle{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primaryBlue);
  }

  .createForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .input-field input[type=text]:focus {
   border-bottom: 0px solid transparent !important;
   box-shadow: 0 1px 0 0 transparent !important;
  }

  .mdc-button{
    font-weight: bold !important;
    align-self: center;
  }

  .mdc-button--raised{
    min-width: 80% !important;
    background-color: var(--secondaryYellow) !important;
  }

  .btn-flat{
    font-weight: bold !important;
    color: var(--secondaryYellow) !important;
  }
