:root {
  --primaryBlue: #193A66;
  --accentBlue: #3172B8;
  --lightBlue: #2CAFD6;
  --lightBlueOpacity: #2CAFD640;

  --secondaryYellow: #F9CA55;
  --secondaryLightYellow: #FFF1D1;

  --lightGrey: #BABABA;
  --mediumGrey: #7C7C7C;
  --darkGrey: #343434;

  /* Esto afecta al color de todos los componentes de material
  como por ejemplo al outlined button
  */
  --mdc-theme-primary: #BABABA !important;
  --mdc-theme-secondary: #3172B8 !important;

  --mdc-typography-font-family: 'Montserrat';
}