@import "./css/globals.css";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Use a media query to add a breakpoint at 800px: */
/*@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%;
  }
  }*/
  html {
    font-family: 'Montserrat';
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    //background-color: pink;
    margin: 0;
  }

  a{
    text-decoration: none;
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {

  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {

  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
  /*body{
    margin-left: 20%;
    margin-right: 20%;
    }*/
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body{
      margin-left: 30%;
      margin-right: 30%;
    }
  }

  #header{
    //display: flex;
    //flex-direction: column;
    position: relative;
    align-items: center;
    background-color: white;

    padding-left: 1rem;
    padding-right: 1rem;

    margin-top: 3rem;
  }

  .logo{
    max-width: 30%;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .left {
    text-align: left;
  }

  .pageTitle{
    position: relative;
    font-weight: bold;
    color: var(--primaryBlue);
  }

  .spanText{
    position: relative;
    font-weight: bold;
  }

  .spanStyle{
    color: var(--secondaryYellow);
  }

  /*----- INPUT ----- */

  .material-textfield {
    position: relative;
    margin-top: 1.5rem;
  }

  .material-textfield label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }
  .material-input {
    width: 100%;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--lightGrey);
    border-radius: 5px;
    //padding: 1rem 0.7rem;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: gray;
    transition: 0.1s ease-out;
  }
  .material-input:focus {
    border: 2px solid var(--accentBlue);
  }
  .material-input:focus + label {
    color: var(--accentBlue);
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  .material-input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }

  /*----- END INPUT ----- */

  /*----- BUTTON -----*/

  .mdc-button{
    font-weight: bold !important;
    min-width: 80% !important;
  }

  .mdc-button--raised{
    background-color: var(--secondaryYellow) !important;
  }

.prueba {
  height: 20rem;
  background-color: var(--secondaryYellow) !important;
}
