body {
  margin: 0;
}

@font-face {
    font-family: 'MontserratSemi';
    src: url('fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('fonts/Montserrat-SemiBold.woff') format('woff'),
        url('fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratBlack';
    src: url('fonts/Montserrat-Black.woff2') format('woff2'),
        url('fonts/Montserrat-Black.woff') format('woff'),
        url('fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MontserratBold';
    src: url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
  font-family: 'Montserrat';
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  //background-color: pink;
  margin: 0;
}

a{
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*body{
    margin-left: 20%;
    margin-right: 20%;
    }*/
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    body{
      margin-left: 30%;
      margin-right: 30%;
    }
  }

.fondosplash {
 height: 80rem;
 background-image: url(./img/splash_fondo.png);
 background-size: 100%;
 background-repeat: no-repeat;
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0;
 top: 60%;
}

.logoalcea {
  background-image: url(./img/logoalcealetra.png);
  background-size: 90%;
  background-repeat: no-repeat;
  height: 40rem;
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: auto;
}

.top{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.logo{
  max-width: 50%;
}